[Unit]
After=network.target

[Service]
Type=simple

User=wiki
Group=wiki

WorkingDirectory=/srv/wiki
ExecStart=/usr/bin/php jobrunner/redisJobChronService --config-file=jobrunner.json

Restart=on-failure
RestartSec=5
StartLimitInterval=15s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
